@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.text_alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
}

.text_outline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: black;
}

.text_outline span {
  background-color: white;
  padding: 0.5rem 1rem;
  margin: 0 -0.5rem;
  border-radius: 2.5rem;
}

.text_outline__small {
  font-size: 3rem;
  padding-top: 3rem;
}
