__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Project specific
config/youtube_credentials.json
config/token.json
input/*
!input/.gitkeep
output/*
!output/.gitkeep

.DS_Store
*.mp4
*.mp3
*.jpg
*.png
images/*
!images/.gitkeep

audio/*
!audio/.gitkeep

# Go
*.exe
*.exe~
*.dll
*.dylib
*.test
*.out
go.sum

# YouTube OAuth tokens
.youtube-tokens/
