.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  /* first center, then scale — order matters */
  transform-origin: center center;
  translate: -50% -50%;
  border: 1px solid gray;
  overflow: hidden;
  background-color: #b0b0b0;
  background-image:
    linear-gradient(45deg, #888 25%, transparent 25%),
    linear-gradient(-45deg, #888 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #888 75%),
    linear-gradient(-45deg, transparent 75%, #888 75%);
  background-size: 24px 24px;
  background-position:
    0 0,
    0 12px,
    12px -12px,
    -12px 0;
  transition:
    height,
    width ease-out 200ms;
}
